# Lab Task 10 (pt2-Task-09)

In [10]:
import pandas as pd
dataset = pd.read_csv('Employee_Salary_Dataset.csv')

In [11]:
print("Total rows:", dataset.shape[0])
print("Total columns:", dataset.shape[1])

Total rows: 35
Total columns: 5

In [12]:
print(np.sum(pd.isnull(dataset)))
print()

NameError: name 'np' is not defined

In [ ]:
column_name = "Department"
if column_name in dataset.columns:
    print(data[column_name].unique())
else:
    print("The column does not exist.")
print()

The column does not exist.

In [ ]:
for col in dataset.columns:
    if dataset[col].dtype == 'object':
        dataset[col] = dataset[col].fillna(dataset[col].mode()[0])
    else:
        dataset[col] = dataset[col].fillna(dataset[col].median())
print("Missing values filled.\n")

Missing values filled.

In [ ]:
for col in dataset.columns:
    if dataset[col].dtype != 'object':
        dataset[col] = dataset[col].astype(np.int64)

print("Numeric conversion completed.\n")

Numeric conversion completed.

In [ ]:
if "id" in dataset.columns:
    dataset.drop("id", axis=1, inplace=True)
    print("Dropped column: id\n")
else:
    print("No unnecessary column found.\n")

No unnecessary column found.

In [ ]:
print(dataset.dtypes, "\n")

ID                   int64
Experience_Years     int64
Age                  int64
Gender              object
Salary               int64
dtype: object

In [ ]:
X = dataset.iloc[:, :-1]
Y = dataset.iloc[:, -1]

print("X shape:", X.shape)
print("Y shape:", Y.shape, "\n")

X shape: (35, 4)
Y shape: (35,)

In [ ]:
cat_columns = X.select_dtypes(['object']).columns
X[cat_columns] = X[cat_columns].apply(lambda col: pd.factorize(col)[0])

print("Encoding completed.\n")

Encoding completed.

In [ ]:
print("Final preview of processed dataset:")
print(X.head())

Final preview of processed dataset:
   ID  Experience_Years  Age  Gender
0   1                 5   28       0
1   2                 1   21       1
2   3                 3   23       0
3   4                 2   22       1
4   5                 1   17       1